.covid19__progress-container {
  display: flex;
  flex-direction: row;
  h3 {
    margin-left: 15px;
  }
  .date-selector {
    padding-top: 15px;
  }
  .nav {
    .nav-link {
      span {
        display: block;
      }
      &:hover, &.active {
        background-color: $primary;
        color: $gray-100;
      }
      &:last-child {
        margin-bottom: 0;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $gray-300;
      margin-bottom: 5px;
      border-radius: 5px;
      color: $body-color;
      padding: 5px 10px;
      font-size: 15px;
      transition: all 0.2s linear;
    }
    display: block;
    height: calc(100vh - 221px);
    overflow-y: scroll;
    padding-right: 15px;;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 15px;
    .views {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .view {
      &.aggregate {
        h3 {
          margin-bottom: 24px;
        }
      }
      &:last-child {
        margin-left: 15px;
      }
      width: 100%;
    }
    h3 {
      margin-left: 0;
    }
  }
  .view-title {
    margin-bottom: 15px;
    padding-top: 0;
    border: 0;
  }
  .growth {
    padding: 15px;
    border-left: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
    .charts-title {
      padding-top: 0;
      border: 0;
    }
    h3 {
      margin-left: 0;
    }
  }
}